<!DOCTYPE html>
<html>
    <title>EleNa</title>
    <link rel = "stylesheet" href = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
</head>

<body>


<h2 id="elena" style="font-size: 25px;Comic Sans MS, Comic Sans, cursive">EleNa: Elevation-based Navigation</h2>
<div id = "map" style = "width: 100%; height: 1500px; margin-left:auto; margin-right:auto; margin-top: 45px"></div>
<div id="path" d="{{ path }}" style="display:none"></div>
<div id="isPath" d="{{ isPath }}" style="display:none"></div>
<div id="mapcenter1" d="{{ mapcenter1 }}" style="display:none"></div>
<div id="mapcenter2" d="{{ mapcenter2 }}" style="display:none"></div>
<div id="zoom1" d="{{ zoom }}" style="display:none"></div>

<div id="cacheStart" d="{{ cacheStart }}" style="display:none"></div>
<div id="cacheEnd" d="{{ cacheEnd }}" style="display:none"></div>

<!-- start and end location, input is readonly-->
<div id ="topnavbar" class="topnav" style="position: fixed ; left: 55px; top: 100px">

    <form id="form" method="post" >
        Start: <input type="text" readonly="readonly" style="background:#CCCCCC" id="startlocation" name="slocation" placeholder="Start Location"  style = "width:300px; height:40px; ">
        End: <input  type="text" readonly="readonly" style="background:#CCCCCC" id="endlocation" name="elocation" placeholder="End Location" style = "width:300px; height:40px;">
        <button onclick="reselect()" type="button" style = "width:60px; height:30px;font-family: FontAwesome; font-size:16px;background-color:#AED6F1;">Clear</button>
        
</div> 

<!-- a drop down button for Min/Max Elevation Gain -->
<div id ="topnavbar2" class="topnav2" style="position: fixed ; left: 55px; top: 130px">        
    % of Short Distance: <br> <input class="form-control" value="100"  type="number" step="0.01" id="percentageofshortestdistance" name="%distance" style = "width:200px; height:20px;">   
        <select class="form-control" id="minmax" name="minmax" style = "width:200px; height: 27px;">
            <option value="Min">Minimize Elevation Gain</option>
            <option value="Max">Maximize Elevation Gain</option>
        </select>
        <input id="submitbutton" type="submit" value="Search" class="btn btn-primary btn-sm" style = "width:70px;height:30px; font-family: FontAwesome; font-size:16px;background-color:#AED6F1;" >

        <input type="text" readonly="readonly" style="display:none" id="mapcenter" name="mapcenter" placeholder="mapcenter">
        <input type="text" readonly="readonly" style="display:none" id="zoom" name="zoom" placeholder="zoom">
    </form>
</div>

<!-- results  -->
<div id ="topnavbar3" class="topnav3" style="position: fixed ; left: 55px; top: 60px">
    Shortest Path Length: {{ spLength }}m, Shortest Path Elevation Gain: {{ spHeight }}m, Current Path Length: {{ curLength }}m, Elevation Gain: {{ curHeight }}m
</div>
<!-- origin button  -->
<div id ="buttomBar" class="botnav" style="position: fixed ; right: 15px; bottom: 10px">
    <button type="button" onclick="backToOrigin()">Back To Amherst</button>
</div>

<script src = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script src="{{ url_for('static', filename='map.js') }}"></script>
</body>
<style>
h2{text-align: center;}


</html>