<!DOCTYPE html>
<html>
	<title>EleNa</title>
	<link rel = "stylesheet" href = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
</head>

<body>


<h2 id="elena" style="font-size: 25px;Comic Sans MS, Comic Sans, cursive">EleNa: Elevation-based Navigation</h2>
<div id = "map" style = "width: 100%; height: 1500px; margin-left:auto; margin-right:auto"></div>
<div id="path" d="{{ path }}" style="display:none"></div>
<div id="isPath" d="{{ isPath }}" style="display:none"></div>
<div id ="topnavbar" class="topnav" style="position: fixed ; left: 55px; top: 100px">

    <form id="form" method="post" >
        <input type="text" disabled="disabled" style="background:#CCCCCC" id="startlocation" name="slocation" placeholder="Start Location"  style = "width:300px; height:40px; ">
        <input  type="text" disabled="disabled" style="background:#CCCCCC" id="endlocation" name="elocation" placeholder="End Location" style = "width:300px; height:40px;">
        <button onclick="reselect()" type="button" style = "width:60px; height:30px;font-family: FontAwesome; font-size:16px;background-color:#AED6F1;">Clear</button>
        
</div>
<div id ="topnavbar2" class="topnav2" style="position: fixed ; left: 55px; top: 130px">        
    % of SD: <br> <input class="form-control" value="100"  type="number" step="0.01" id="percentageofshortestdistance" name="%distance" style = "width:200px; height:20px;">   
        <select class="form-control" id="minmax" name="minmax" style = "width:200px; height: 27px;">
            <option value="Min">Min</option>
            <option value="Max">Max</option>
        </select>
        <input id="submitbutton" type="submit" value="Search" class="btn btn-primary btn-sm" style = "width:70px;height:30px; font-family: FontAwesome; font-size:16px;background-color:#AED6F1;" >
		
    </form>
</div>

<div id ="buttomBar" class="botnav" style="position: fixed ; right: 15px; bottom: 10px">
    <button type="button" onclick="backToOrigin()">Back To Amherst</button>
</div>

<script src = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script>
var isPath = document.getElementById('isPath').getAttribute('d');

var startSelected = false;
var endSelected = false;
// Creating map options
var mapOptions = {
	maxBounds:[ [42.305842, -72.540402],
				[42.428183, -72.466113]],
	center: [42.378076, -72.519946],
	zoom: 18
}
// Creating a map object
var map = new L.map('map', mapOptions);


// Creating a Layer object
var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');

// Adding layer to the map
map.addLayer(layer);


var popup = L.popup();
var count = 0; 
var but1; 
var but2; 

var greenIcon = new L.Icon({
  iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41]
});

function onMapClick(e) { 
    popup
        .setLatLng(e.latlng)
        .setContent("You clicked the map at " + e.latlng.toString())
        .openOn(map);
	
    if (startSelected == false){
		but1 = L.marker(e.latlng).addTo(map);
		but1.addTo(map);
		//L.marker(e.latlng).addTo(map);
    	document.getElementById("startlocation").value = e.latlng.toString();
    	startSelected = true;
    }
    else{ 
		if (endSelected == true){
			map.removeLayer(but2)
		}
		but2 = L.marker(e.latlng, {icon: greenIcon}).addTo(map);
		but2.addTo(map);
    	document.getElementById("endlocation").value = e.latlng.toString();
    	endSelected = true;
    }
}

function reselect(){
	startSelected = false;
	endSelected = false;
	document.getElementById("startlocation").value = "";
	document.getElementById("endlocation").value = "";
	map.removeLayer(but1)
	map.removeLayer(but2)
}

map.on('click', onMapClick);

function connectTheDots(path){
    var c = [];
    for(i in path) {
        var x = path[i]['lat'];
        var y = path[i]['lng'];
        c.push([x, y]);
    }
    return c;
}

if (isPath == 'true'){
    var path = document.getElementById('path').getAttribute('d');
    var pathList = JSON.parse(path);
    coords = connectTheDots(pathList);
    var line = L.polyline(coords).addTo(map);
}

function backToOrigin(){
	map.setView([42.378076, -72.519946], 17);
}

</script>
</body>
<style>
h2{text-align: center;}


</html>